#contactInfo{
    background-image: url("src/img/Y-mountain_fire.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.5;
}
:required{
    background: #0cffff;
}
:valid{
    background: white;
}

#navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navBar li{
    float: left;
}
#navBar a{
    padding: 8px;
    background-color: lightskyblue;
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 30px;
    text-decoration: none;
    color: black;
}
#navBar li a:hover{
        background-color: dodgerblue;
}
#navBar .active{
        color: red;
}

@keyframes circle {
    0% {left: 0px; top: 0px;}
    10% {left: 33px; top: 0px;}
    20% {left: 66px; top: 0px;}
    25% {left: 100px; top: 0px;}
    30% {left: 100px; top: 33px;}
    40% {left: 100px; top: 66px;}
    50% {left: 100px; top: 100px;}
    60% {left: 66px; top: 100px;}
    70% {left: 33px; top: 100px;}
    75% {left: 0px; top: 100px;}
    80% {left: 0px; top: 66px;}
    90% {left: 0px; top: 33px;}
    100% {left: 0px; top: 0px;}
}

#y-mountain{
    animation: circle 5s infinit linear;
    position: relative;
}

.enbolden:hover{
    font-weight: 900;
    font-size: 25px;

}

@media screen and (max-width: 1000px) {
    img#family_pic {
        max-width: 700px
    }
}

.containerNavBar{
    display: flex;
    flex: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: mediumpurple;
}

.jumbotron{
    background-color: #d0ffa4;
}

.img-responsive{
    display: block;
    height: auto;
    width: 100%;
}

/*label:hover{
    color: red;
    opacity: 0.5;
}
body{
    background:url("site name")
    background-size: 100% 100%
}*/
